<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <saveUI>
        <processor mode="on" type="Sitecore.Pipelines.Save.Save, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.Support.Pipelines.Save, Sitecore.Support.87963</patch:attribute>
        </processor>
      </saveUI>
    </processors>
  </sitecore>
</configuration>